# Ignore Composer dependencies
/vendor/

# Ignore uploaded files
/upload/

/config.php

# Ignore environment files
.env

# Ignore SQL dump files
*.sql

# Ignore logs, cache, and temp files
*.log
*.cache
*.tmp

# Ignore IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Ignore backup files
bck*.php
